.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100px;
}

.nav__links-list {
  display: flex;
  flex-grow: 1;
  gap: 1.5rem;
  height: 100%;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
  border-block-end: 2px solid transparent;
  height: 100%;
  color: var(--text-color--opaque);
  font-weight: 700;
}

.nav__link--active,
.nav__link:hover {
  color: var(--text-color);
}

.nav__link--active {
  border-block-end-color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
