.header {
  position: relative;
  margin-block: 2rem;
  border-radius: 2rem;
  min-height: 60svh;
  overflow: hidden;
}

.header__poster {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 60ch;
  height: 100%;
}

.header__content {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(10, 10, 18, 0.85) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 2.5rem;
}

.header__title {
  max-width: 100%;
  overflow: hidden;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  line-height: 2rem;
  letter-spacing: 0.25rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.header__description {
  text-wrap: balance;
  display: -webkit-box;
  font-size: var(--fz-lg);
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header__button {
  gap: 0.5rem;
}
