.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__text {
  color: var(--brand-primary);
  font-weight: bold;
  font-size: var(--fz-xl);
}

@media screen and (max-width: 290px) {
  .logo__text {
    display: none;
  }
}
